{% extends 'base.twig.html' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}" type="text/css" />
{% endblock %}

{% block body %}
<div class="login-container">
    <div class="chat-title">Чат (бета)</div>
    <form action="{{ path('login_check') }}" method="post">
        <div class="error">{{ error }}</div>
        <div><b>Логин</b></div>
        <div><input type="text" name="_username" value="{{ last_username }}" /></div>
        <div><b>Пароль</b></div>
        <div><input type="password" name="_password" value="" /></div>
        <div><input type="submit" value="Войти"/></div>
        <div><input type="button" value="Регистрация"/></div>
    </form>
</div>
{% endblock %}
