.auth-container {
    position: absolute;
    left: 50%;
    top: 290px;
    width: 400px;
    margin-left: -200px;
    text-align: center;
}
.auth-container form {
    border: 1px solid #fff;
}
.auth-container form > div {
    margin: 5px;
}
.auth-container form > table {
    width: 100%;
    padding: 5px 10px;
}
.auth-container form > table td:first-child {
    width: 140px;
    text-align: right;
}
.auth-title {
    font-family: Tahoma;
    font-size: 35px;
    padding: 5px;
    margin-bottom: 15px;
}
.required-field {
    color: red;
}
.auth-container table input {
    width: 100%;
}
.auth-container table input[type="radio"] {
    width: auto;
}
