.login-container {
    position: absolute;
    left: 50%;
    top: 290px;
    width: 400px;
    margin-left: -200px;
    text-align: center;
}
.login-container form {
    border: 1px solid #fff;
}
.login-container form > div {
    margin: 5px;
}
.chat-title {
    font-family: Tahoma;
    font-size: 35px;
    padding: 5px;
    margin-bottom: 15px;
}