body {
    background-color: #000;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #FFF;
}
input {
    font-size: 10pt;
    font-family: Tahoma;
    color: #FFF;
    background: none;
    border: gray 1px solid;
}
.error {
    color: red;
}